+b('footer').footer

	.container
		+e.__content
			+e.__list
				+e.__list-item #[span Лучший банк Беларуси по&nbsp;версии #[br] Global Finance и EMEA Finance]
				+e.__list-item #[span 32 года на рынке банковских услуг]
				+e.__list-item #[span Часть австрийской банковской группы Raiffeisen&nbsp;Bank&nbsp;International]

	+e.__copyright
		.container
			+e.__copyright-text © #[a#footerLink(href="https://www.priorbank.by/" target="_blank") Приорбанк] 2021

