+b('footer').footer

	+e.__content
		.container
			+e.__content-inner
				+e('nav').__menu
					+e('a').__menu-link(href='#modalCompare' data-toggle='modal') Сравнение пакетов
				+e.__list
					+e.__list-item 83 отделения по всей Беларуси
					+e.__list-item 31 год на рынке банковских услуг
					+e.__list-item Часть австрийской банковской группы Raiffeisen Bank International

	+e.__copyright
		.container
			+e.__copyright-text © #[a(href="https://www.priorbank.by/" target="_blank") Приорбанк] 2020

