.footer
	position: relative
	background: #2B2A28
	z-index: 566

	&__content
		padding: 80px 0

		+media($lg)
			padding: 20px 0 10px

		+media($md)
			display: none

		&-inner
			display: flex
			align-items: center
			justify-content: space-between
			padding: 0 10px

			+media($lg)
				flex-direction: column
				padding: 0

	&__list
		display: flex
		justify-content: center

		&-item
			display: flex
			align-items: center
			justify-content: center
			flex-shrink: 0
			width: calc(100% / 3)
			padding: 0 15px
			font-size: 18px
			color: #fff
			font-weight: 400
			text-align: center

			+media($lg)
				width: calc(100% / 3)
				text-align: center

			&:not(:last-child)
				border-right: 2px solid $c-main

	&__copyright
		padding: 11px 0
		border-top: 1px solid rgba(#fff, 0.15)
		text-align: center

		&-text
			display: inline-block
			color: #fff
			font-size: 18px

			a
				display: inline-block
				color: #fff
				text-decoration: none

				&:hover
					text-decoration: underline
