.modal-callback.modal.fade#modalCallback
	.modal-dialog
		.modal-content
			
			.modal-header
				.close-popup(data-dismiss="modal" aria-hidden="true")
			
			.modal-body
				.modal-title
					.modal-title__text Ваше сообщение отправлено.
					.modal-title__descr Мы скоро свяжемся с Вами, спасибо!