extends ../layout/layout

block vars
	- var bodyClass = ''
	- var footerClass = ''
	- var headerClass = ''
	- var pageTitle = 'icons'
	- var dir = './'
	- var layout = ''


block main
	.container
		include ../blocks/block/block
