extends ../layout/layout

block vars
	- var bodyClass = ''
	- var footerClass = ''
	- var headerClass = ''
	- var pageTitle = 'index'
	- var dir = './'
	- var layout = ''


block main
	.container
		.row
			.col-12
				include ../blocks/block/block
				include ../blocks/request/request
				+slider({
					mainClass: 'js_slider',
					buttons: true,
					pagination: true,
				})
					.swiper-slide
						+lazy-img-slider({pic: 'card1.png'})
					.swiper-slide
						+lazy-img-slider({pic: 'card1.png'})
					.swiper-slide
						+lazy-img-slider({pic: 'card1.png'})


block popups
	include ../partials/modal/modal-request/modal-request
	include ../partials/modal/modal-callback/modal-callback
	include ../partials/modal/modal-error/modal-error
