// Grid breakpoints
$lg: 1250px;
$md: 768px;

$gutter: 30px;

$grid-breakpoints: (
	xs: 0,
	// sm: $sm,
	md: $md,
	lg: $lg,
	// xl: $xl
);

$container-max-widths: (
	md: 768px,
	lg: 1200px,
);

// Fonts types
$c-size: 16px;
$font-300: 'FuturaLightC';
$font-400: 'FuturaBookC';
$font-600: 'FuturaMediumC';
$font-700: 'FuturaBold';

// Colors
$c-main:		#ffec00;
$c-bg:			#F5F6F8;
$c-text:		#01030F;
$trp:			transparent;
