.llc-icons-wrap
	.llc-icon-box
		svg.llc-icon.llc-icon--i1(width='110' height='110' viewBox='0 0 110 110' fill='none' xmlns='http://www.w3.org/2000/svg')
			circle.llc-circle-inner(cx='55' cy='55' r='26' fill='#52ADD2')
			circle.llc-circle-outer(cx='55' cy='55' r='32.5' stroke='#333849' stroke-width='3')
			path.llc-circle-dollar(fill-rule='evenodd' clip-rule='evenodd' d='M55 34C56.4019 34 57.5383 35.0447 57.5383 36.3333V39.2773C60.9854 39.7477 64.0311 41.6907 65.7009 44.5686C66.3606 45.7057 65.8926 47.1191 64.6557 47.7255C63.4187 48.3319 61.8811 47.9018 61.2214 46.7647C60.1746 44.9604 58.1311 43.8333 55.9066 43.8333H53.5384C51.0745 43.8333 49.0772 45.6694 49.0772 47.9342C49.0772 50.1991 51.0745 52.0351 53.5384 52.0351H55.7745C61.4216 52.0351 65.9995 56.2432 65.9995 61.4342C65.9995 66.0723 62.3449 69.9258 57.5383 70.694V73.6667C57.5383 74.9553 56.4019 76 55 76C53.5981 76 52.4617 74.9553 52.4617 73.6667V70.7227C49.0146 70.2523 45.9689 68.3093 44.2991 65.4314C43.6394 64.2943 44.1074 62.8809 45.3443 62.2745C46.5813 61.6681 48.1189 62.0982 48.7786 63.2353C49.8254 65.0396 51.8689 66.1667 54.0934 66.1667H55.7745C58.6179 66.1667 60.9228 64.0479 60.9228 61.4342C60.9228 58.8205 58.6179 56.7018 55.7745 56.7018H53.5384C48.2708 56.7018 44.0005 52.7764 44.0005 47.9342C44.0005 43.4267 47.7009 39.7136 52.4617 39.2219V36.3333C52.4617 35.0447 53.5981 34 55 34Z' fill='#333849')


	.llc-icon-box
		svg.llc-icon.llc-icon--i2(width='110' height='110' viewBox='0 0 110 110' fill='none' xmlns='http://www.w3.org/2000/svg')
			g.llc-icon__elem-1
				g.llc-icon__elem-inner
					path(d='M94 35V51H14.5V35H94Z' fill='#52ADD2')
					path(d='M13.5 51.5V34.5' stroke='#333849' stroke-width='3')
					path(d='M94 51V34' stroke='#333849' stroke-width='3')
				path(d='M93.8533 51.5H52.4402H2.66656C2.05776 51.5 1.862 51.3369 1.78789 51.2535C1.68382 51.1364 1.50012 50.8095 1.50012 50V36C1.50012 35.2347 1.69172 34.9355 1.81281 34.8155C1.93642 34.693 2.24625 34.5 3.02765 34.5H93.8533C94.6347 34.5 94.9446 34.693 95.0682 34.8155C95.1893 34.9355 95.3809 35.2347 95.3809 36V50C95.3809 50.6174 95.1748 50.9463 94.9657 51.1342C94.7317 51.3444 94.3534 51.5 93.8533 51.5Z' stroke='#333849' stroke-width='3')
			g.llc-icon__elem-2
				g.llc-icon__elem-inner
					path(d='M15 75V59H94.5V75H15Z' fill='#52ADD2')
					path(d='M95 59V75' stroke='#333849' stroke-width='3')
					path(d='M15 59V75' stroke='#333849' stroke-width='3')
				path(d='M16.1467 58.5H57.5598H107.333C107.942 58.5 108.138 58.6631 108.212 58.7465C108.316 58.8636 108.5 59.1905 108.5 60V74C108.5 74.7653 108.308 75.0645 108.187 75.1845C108.064 75.307 107.754 75.5 106.972 75.5H16.1467C15.3653 75.5 15.0554 75.307 14.9318 75.1845C14.8107 75.0645 14.6191 74.7653 14.6191 74V60C14.6191 59.3826 14.8252 59.0537 15.0343 58.8658C15.2683 58.6556 15.6466 58.5 16.1467 58.5Z' stroke='#333849' stroke-width='3')


	.llc-icon-box
		.llc-clip-3
			svg.llc-icon.llc-icon--i3(width='110' height='110' viewBox='0 0 110 110' fill='none' xmlns='http://www.w3.org/2000/svg')
				circle.llc-fill(cx="55" cy="38" r="70" fill='#52ADD2')
				path.llc-line(d='M92.3257 57V55.5H90.8257H19.1743H17.6743V57V70C17.6743 70.7653 17.4827 71.0645 17.3616 71.1845C17.238 71.307 16.9282 71.5 16.1468 71.5H3.02752C2.24613 71.5 1.93629 71.307 1.81269 71.1845C1.6916 71.0645 1.5 70.7653 1.5 70V40C1.5 39.2347 1.6916 38.9355 1.81269 38.8155C1.93629 38.693 2.24613 38.5 3.02752 38.5H50.4587H106.972C107.754 38.5 108.064 38.693 108.187 38.8155C108.308 38.9355 108.5 39.2347 108.5 40V70C108.5 70.7653 108.308 71.0645 108.187 71.1845C108.064 71.307 107.754 71.5 106.972 71.5H93.8532C93.0718 71.5 92.762 71.307 92.6384 71.1845C92.5173 71.0645 92.3257 70.7653 92.3257 70V57Z' stroke='#333849' stroke-width='3')


	.llc-icon-box
		svg.llc-icon.llc-icon--i4(width='110' height='110' viewBox='0 0 110 110' fill='none' xmlns='http://www.w3.org/2000/svg')
			g.llc-circle-1
				circle(cx='80' cy='30' r='21' fill='#52ADD2')
				circle(cx='80' cy='30' r='28' stroke='#333849' stroke-width='3')
				path(d='M75.5607 48.1526C74.9749 48.8376 74.0251 48.8376 73.4393 48.1526C72.8536 47.4676 72.8536 46.357 73.4393 45.672L80 38L86.5607 45.672C87.1464 46.357 87.1464 47.4676 86.5607 48.1526C85.9749 48.8376 85.0251 48.8376 84.4393 48.1526L80 42.9613L75.5607 48.1526Z' fill='#333849')
				path(d='M78.3848 42.3179C78.3848 41.4063 79.108 39.334 80.0002 39.334C80.8923 39.334 81.6155 41.4063 81.6155 42.3179V57.0036C81.6155 57.9152 80.8923 58.0002 80.0002 58.0002C79.108 58.0002 78.3848 57.9152 78.3848 57.0036V42.3179Z' fill='#333849')
				path(d='M75.5607 13.0416C74.9749 12.4371 74.0251 12.4371 73.4393 13.0416C72.8536 13.646 72.8536 14.626 73.4393 15.2304L80 22L86.5607 15.2304C87.1464 14.626 87.1464 13.646 86.5607 13.0416C85.9749 12.4371 85.0251 12.4371 84.4393 13.0416L80 17.6223L75.5607 13.0416Z' fill='#333849')
				path(d='M78.3848 15.8378C78.3848 16.6422 79.108 18.4707 80.0002 18.4707C80.8923 18.4707 81.6155 16.6422 81.6155 15.8378V2.87943C81.6155 2.07506 80.8923 2.00011 80.0002 2.00011C79.108 2.00011 78.3848 2.07506 78.3848 2.87943V15.8378Z' fill='#333849')
				path(d='M63.0416 34.4393C62.4371 35.0251 62.4371 35.9749 63.0416 36.5607C63.646 37.1464 64.626 37.1464 65.2304 36.5607L72 30L65.2304 23.4393C64.626 22.8536 63.646 22.8536 63.0416 23.4393C62.4371 24.0251 62.4371 24.9749 63.0416 25.5607L67.6223 30L63.0416 34.4393Z' fill='#333849')
				path(d='M65.8378 31.6152C66.6422 31.6152 68.4707 30.892 68.4707 29.9998C68.4707 29.1077 66.6422 28.3845 65.8378 28.3845H52.8794C52.0751 28.3845 52.0001 29.1077 52.0001 29.9998C52.0001 30.892 52.0751 31.6152 52.8794 31.6152H65.8378Z' fill='#333849')
				path(d='M96.9584 34.4393C97.5629 35.0251 97.5629 35.9749 96.9584 36.5607C96.354 37.1464 95.374 37.1464 94.7696 36.5607L88 30L94.7696 23.4393C95.374 22.8536 96.354 22.8536 96.9584 23.4393C97.5629 24.0251 97.5629 24.9749 96.9584 25.5607L92.3777 30L96.9584 34.4393Z' fill='#333849')
				path(d='M94.1622 31.6152C93.3578 31.6152 91.5293 30.892 91.5293 29.9998C91.5293 29.1077 93.3578 28.3845 94.1622 28.3845H107.121C107.925 28.3845 108 29.1077 108 29.9998C108 30.892 107.925 31.6152 107.121 31.6152H94.1622Z' fill='#333849')
			g.llc-circle-2
				circle(cx='30' cy='80' r='21' fill='#52ADD2')
				circle(cx='30' cy='80' r='28' stroke='#333849' stroke-width='3')
				path(d='M25.5607 98.1526C24.9749 98.8376 24.0251 98.8376 23.4393 98.1526C22.8536 97.4676 22.8536 96.357 23.4393 95.672L30 88L36.5607 95.672C37.1464 96.357 37.1464 97.4676 36.5607 98.1526C35.9749 98.8376 35.0251 98.8376 34.4393 98.1526L30 92.9613L25.5607 98.1526Z' fill='#333849')
				path(d='M28.3848 92.3179C28.3848 91.4063 29.108 89.334 30.0002 89.334C30.8923 89.334 31.6155 91.4063 31.6155 92.3179V107.004C31.6155 107.915 30.8923 108 30.0002 108C29.108 108 28.3848 107.915 28.3848 107.004V92.3179Z' fill='#333849')
				path(d='M25.5607 63.0416C24.9749 62.4371 24.0251 62.4371 23.4393 63.0416C22.8536 63.646 22.8536 64.626 23.4393 65.2304L30 72L36.5607 65.2304C37.1464 64.626 37.1464 63.646 36.5607 63.0416C35.9749 62.4371 35.0251 62.4371 34.4393 63.0416L30 67.6223L25.5607 63.0416Z' fill='#333849')
				path(d='M28.3848 65.8378C28.3848 66.6422 29.108 68.4707 30.0002 68.4707C30.8923 68.4707 31.6155 66.6422 31.6155 65.8378V52.8794C31.6155 52.0751 30.8923 52.0001 30.0002 52.0001C29.108 52.0001 28.3848 52.0751 28.3848 52.8794V65.8378Z' fill='#333849')
				path(d='M13.0416 84.4393C12.4371 85.0251 12.4371 85.9749 13.0416 86.5607C13.646 87.1464 14.626 87.1464 15.2304 86.5607L22 80L15.2304 73.4393C14.626 72.8536 13.646 72.8536 13.0416 73.4393C12.4371 74.0251 12.4371 74.9749 13.0416 75.5607L17.6223 80L13.0416 84.4393Z' fill='#333849')
				path(d='M15.8378 81.6152C16.6422 81.6152 18.4707 80.892 18.4707 79.9998C18.4707 79.1077 16.6422 78.3845 15.8378 78.3845H2.87943C2.07506 78.3845 2.00011 79.1077 2.00011 79.9998C2.00011 80.892 2.07506 81.6152 2.87943 81.6152H15.8378Z' fill='#333849')
				path(d='M46.9584 84.4393C47.5629 85.0251 47.5629 85.9749 46.9584 86.5607C46.354 87.1464 45.374 87.1464 44.7696 86.5607L38 80L44.7696 73.4393C45.374 72.8536 46.354 72.8536 46.9584 73.4393C47.5629 74.0251 47.5629 74.9749 46.9584 75.5607L42.3777 80L46.9584 84.4393Z' fill='#333849')
				path(d='M44.1622 81.6152C43.3578 81.6152 41.5293 80.892 41.5293 79.9998C41.5293 79.1077 43.3578 78.3845 44.1622 78.3845H57.1206C57.9249 78.3845 57.9999 79.1077 57.9999 79.9998C57.9999 80.892 57.9249 81.6152 57.1206 81.6152H44.1622Z' fill='#333849')
