.block.load-fix

	p.text300 Text 300
	p.text400 Text 400
	p.text600 Text 600
	p.text700 Text 700

	div
		button.btn#btn(data-toggle="modal" data-target="#modalRequest") Оформить заявку 1

	+icon('icon')

	picture
		source(media='(min-width: 768px)' srcset='images/hero-card3@2.jpg 2x, images/hero-card3.jpg 1x' )
		img.img(src='images/hero-card3.jpg' alt="pic")

	img.lazy-img(
			data-src="images/phone.png"
			data-srcset="images/phone@2.png 2x"
			alt="pic"
		)
