.block.load-fix

	p.text300 Text 300
	p.text400 Text 400
	p.text600 Text 600
	p.text700 Text 700

	div
		button.btn#btn(data-toggle="modal" data-target="#modalRequest") Оформить заявку 1

	+icon('icon')
