.modal-callback.modal.fade#modalError
	.modal-dialog
		.modal-content
			
			.modal-header
				.close-popup(data-dismiss="modal" aria-hidden="true")
			
			.modal-body
				.modal-title
					.modal-title__text Ошибка отправки.
					.modal-title__descr Мы уже ищем проблему…